.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.background{
    margin: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
}
.h1{
    width: 50%;
    height: max-content;
    background-color: lightblue;
    font-size: 1em;
    border-radius: 1em;
    line-height: 200%;
}
.wrong_insert{
    color: red;
}